<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>友链加入通知</title>
</head>
<body>
<div style="padding: 20px;">
    <p>
        欢迎光临<a href="https://www.chenyi.ink">Arslinth</a>的小站，贵站链接已经成功加入啦！记得互链哦！
    </p>
    <hr style="height: 1px;border: 0;width: 100%;background-color: #e3e3e3;"/>
    <p>
        <img src="https://avatars.githubusercontent.com/u/40257629?v=4" class="avatar" />
    </p>
    <p>站名：Arslinth的个人小站</p>
    <p>链接：https://www.chenyi.ink</p>
    <p>邮箱：752279593@qq.com</p>
    <p>头像：https://avatars.githubusercontent.com/u/40257629?v=4</p>
    <p>描述：向真理和自由，无名的献身。</p>
    <hr style="height: 1px;border: 0;width: 100%;background-color: #e3e3e3;"/>
    <p style="font-size: 10px;color: #989898">——此为系统邮件请勿回复</p>
</div>
</body>
<style>
    .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

</style>
</html>